*.log
node_modules/

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
.sass-cache
.env

package-lock.json

.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

__pycache__
*.pyc
output/

# Intellij
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/
bin/

# Maven
log/
target/

.editorconfig