
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='filer-input'>
        <ion-input>
            <input type='text' [(ngModel)]='listFilter' />  
        </ion-input>
    </div>
    <ion-list>
        <!--<ion-item>{{ product.referenceNumber }}</ion-item>
        <ion-item>{{ product.category| lowercase }}</ion-item>
        <ion-item>{{ product.description }}</ion-item>
        <ion-item>{{ product.price | currency:'USD':true:'1.2-2'}}</ion-item>-->
        <ion-item *ngFor="let product of products | productFilter: 'category' ">{{product.category}}</ion-item>
    </ion-list>

    
    
    
