<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="*.myapp" level="debug"/>
    <logger name="org.springframework.core " level="debug"/>
    <logger name="org.springframework.beans" level="debug"/>
    <logger name="org.springframework.context" level="debug"/>
    <logger name="org.springframework.transaction" level="debug"/>
    <logger name="org.springframework.web" level="debug"/>
    <logger name="org.springframework.test" level="debug"/>
    <logger name="org.hibernate" level="debug"/>
</configuration>