<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Product Order Form</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="product-form">
        <br>
        <label class="Product Number" id="Food1ID">
            <input type="text" placeholder="Product #">
        </label>
        <br>
        <label class="Food Description" id="Food1Description">
            <input type="text" placeholder="Food Description" value="getFoodDescription(">
        </label>
        <br>
        <label class="Quantity" id="Food1Quantity">
            <input type="text" placeholder="Quantity" value="">
        </label>
        <br>
        <label class="SubTotal" id="Food1Subtotal">
            <input type="text" placeholder="Subtotal Price" value="">
        </label>
        <br></br>
    </div>

  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>

  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>