// http://ionicframework.com/docs/v2/theming/

* {
    font-family: 'Times';
    font-weight: 300;
    text-shadow: .5px 1px;
}
.scroll-content{
    background-image: url('/assets/img/alt-background.png');
    opacity: 1.0;
    background-size: cover;
}
.button {
    background-color: darkcyan;
    font-family: 'Times';
    font-weight: 700;
    font-size: 16px;

}
p {
    font-family: 'Times';
    font-weight: 300;
    font-size: 20px;
    font-weight: 800;
}
.list{
    background-color: transparent;
    border: none;
}
.ion-item {
    background-color: transparent;
    font-size: 20px;
    border: none;
}
.item-md {
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: transparent;
}
title {
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto;
    display: block;
}

input, textarea {
    background: transparent;
    background-color : #d1d1d1; 
    width: 100%;
    font-family: 'Times';
    font-weight: 300;
}

h1 {
    font-size: 20px;
    font-weight: 600;
    text-shadow: 2px 2px 5px darkcyan;
}

img {
    display: block;
    margin: 0 auto;
    opacity: 1;
}
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: transparent;
}

[nav-view-transition][nav-view-direction] {
   background-color: transparent;
 }

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 3.0em;
    width: 100%;
    font-weight: bold;
    color:white;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color:white;
  }

}

.home-image {
    padding-bottom: 80px;
    align-content: center
}

.pure-controls {
    text-align: center;
}

.pure-control-group {
    text-align: center;
    align-content: center;
    padding-left: 40px;
    padding-right: 40px;
}
.sign-up {
    padding-top: 20%;

    div {
        padding-top: 0.1%;
        padding-bottom: 0.1%;
    }

    input {
        background-color: white;
    }
}

.organization {
    background-color: white;
}