// http://ionicframework.com/docs/v2/theming/

* {
    font-family: 'Varela Round', sans-serif;
    font-variant: small-caps;
    font-weight: 300;
    text-shadow: .5px 1px;
}
.scroll-content{
    background-color: darkgoldenrod;
    opacity: .9;
    background-size: cover;
}
.button {
    background-color: darkcyan;
    font-weight: 700;
    font-size: 16px;
}
p {
    font-size: 20px;
    font-weight: 800;
}
.list{
    background-color: transparent;
}
.ion-item {
    background-color: transparent;
    font-size: 20px;
}
.item-md {
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: transparent;
}
title {
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto;
    display: block;
}

input, textarea {
    background: transparent;
    background-color : #d1d1d1; 
    width: 100%;
}

h1 {
    font-size: 20px;
    font-weight: 600;
    text-shadow: 2px 2px 5px darkcyan;
}

img {
    display: block;
    margin: 0 auto;
    opacity: 1;
}
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: transparent;
  background-image: url('assets/img/gray-back.png');
}

[nav-view-transition][nav-view-direction] {
   background-color: transparent;
 }

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 3.0em;
    width: 100%;
    font-weight: bold;
    color:white;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color:white;
  }

}
